.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

/* Use inhertit for links in text (if intention is links to be same color)  */
.footer a {
  color: inherit;
}
